<% provide(:title, 'Help') %>
<h1>Help</h1>
<dl>
<dt>概要</dt>
<dd>
文書ドキュメント（以降、文書とする）の一元管理をし、各文書に対して権限を設定する。
</dd>
<dt>文書管理方法</dt>
<dd>
文書はファイルとしてデータベースに登録し（アップロード）、利用する際にデータベースから取得する（ダウンロード）。
</dd>
<dt>文書権限</dt>
<dd>
文書を登録する際に、取得（ダウンロード）権限を設定する。<br />
「グループ利用者取得」は利用者が所属するグループが文書ドキュメント管理グループと同じ場合、取得可能となる。<br />
「全利用者取得」は利用者全員が取得可能となる。
</dd>
<dt>文書タグ・説明</dt>
<dd>
文書を登録する際に、文書タグを登録し文書一覧表示する際に、文書種類などを容易に判別できるようにする。<br />
また、文書説明(Description)はマークダウン記述（Wiki書式）により明確な説明を記述することにより文書選択を助ける。
</dd>
<dt>文書編集</dt>
<dd>
タグ、グループ、取得権限（グループ利用者、全利用者）、説明は文書登録した利用者またはadminユーザーのみが編集可能。
</dd>
<dt>利用者</dt>
<dd>
利用者登録はadminユーザーによって登録される（名前・グループ・メールアドレス・パスワードは利用者サインイン後のSettingにより変更可能）。<br />
サインイン後のHomeには利用者が登録した文書一覧が表示される。
</dd>
</dl>
<p>
<[利用者サンプル]><br />
[adminユーザー]<br />
email:example@railstutorial.jp<br />
password:foobar<br />
[一般ユーザー]<br />
email:example-{#n}@railstutorial.jp({#n}=1-5)<br />
password:password
</p>

