  <div class="center hero-unit">
    <h1>Welcome to the Kame Docs</h1>
    <p>
      ここは文書管理サンプルのページです。</br>
      <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
      を参考にしました。
    </p>
  </div>

  <%= link_to image_tag("kame.gif", width: "150", alt: "Kameyama"), 'http://akame913.jimdo.com/' %>
